DATABASE_URL="file:./dev.db"
JWT_SECRET="change-me-to-a-random-32-char-string"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"
ENCRYPTION_KEY="change-me-to-a-random-32-char-string"
NEXT_PUBLIC_APP_NAME="Synthetix"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
